.filter_section {
  // background-color: rgb(0, 61, 81);
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5% 8%;
  // color: black;
  background-color: rgb(217 218 222);
  background-color: #eef0f4;
  // box-shadow: rgb(217 218 222) 9.91px 9.91px 15px inset, rgb(255 255 255) -9.91px -9.91px 15px inset;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: linear-gradient(
      145deg,
      rgb(255, 255, 255),
      rgb(196, 198, 201)
    );
    box-shadow: rgb(217 218 222) 4px 4px 8px inset,
      rgb(255 255 255) -4px -4px 8px inset;

    h3 {
      color: slategray;
      font-size: 20px;
    }

    .search {
      display: flex;
      align-items: center;
      .icon {
        color: black;
        font-size: 20px;
        color: slategray;
        margin: 0 5px 0 0;
      }

      input {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 18px;
        color: slategray;
      }
    }
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: linear-gradient(
      145deg,
      rgb(255, 255, 255),
      rgb(196, 198, 201)
    );
    box-shadow: rgb(217 218 222) 4px 4px 8px inset,
      rgb(255 255 255) -4px -4px 8px inset;

    .filter_sub {
      // display: flex;
      // align-items: center;

      p {
        color: slategray;
        font-size: 18px;
        font-weight: 600;
      }

      select {
        background: transparent;
        // color: rgb(71, 71, 71);
        color: rgb(56, 56, 56);
        font-size: 20px;
        border: none;
        outline: none;
        font-weight: 700;
        color: green;
        cursor: pointer;

        option {
          color: rgb(56, 56, 56);
          // color: green;
        }
      }

      .date_sub {
        display: flex;
        align-items: center;

        input {
          background: transparent;
          // color: rgb(71, 71, 71);
          color: rgb(56, 56, 56);
          font-size: 20px;
          border: none;
          outline: none;
          font-weight: 700;
          color: green;
          cursor: pointer;
        }
      }

      .date {
        // display: flex;
        align-items: center;

        p {
          white-space: nowrap;
          color: slategray;
        }
      }

      button {
        background-color: transparent;
        color: green;
        padding: 10px 10px;
        outline: none;
        border: none;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        box-shadow: rgb(217 218 222) 2px 2px 4px, rgb(255 255 255) -2px -2px 4px;
        background: linear-gradient(
          145deg,
          rgb(255, 255, 255),
          rgb(203, 205, 208)
        );

        &:hover {
          color: rgb(0, 98, 0);
        }
      }
    }
  }
}
