.property_listing {
  background-color: rgb(0, 61, 81);
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  padding: 0% 8%;
  color: black;
  background-color: #eef0f4;

  .property_card {
    // height: 350px;
    width: 275px;
    background-color: white;
    border-radius: 4px;
    margin: 0 20px 30px 0;
    box-shadow: rgb(217 218 222) 9.91px 9.91px 15px,
      rgb(255 255 255) -9.91px -9.91px 15px;
    border-radius: 8px;
    background-color: #eef0f4;

    // background: linear-gradient(145deg, rgb(255, 255, 255), rgb(196, 198, 201));

    // box-shadow: rgb(217 218 222) 9.91px 9.91px 15px,
    //   rgb(255 255 255) -9.91px -9.91px 15px;
    // background: linear-gradient(145deg, rgb(202, 204, 207), rgb(255, 255, 255));

    .image {
      border-radius: 4px;

      //   width: 200px;
      //   height: 150px;

      img {
        border-radius: 4px;
        width: 275px;
        height: 150px;
      }
    }

    .rent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      h3 {
        color: rgb(0, 170, 0);
        font-size: 22px;
        cursor: pointer;

        span {
          color: lightslategrey;
          font-size: 16px;
        }
      }

      button {
        margin: 0 5px 0 0;
        border: none;
        outline: none;
        // cursor: pointer;
        box-shadow: rgb(217 218 222) 2px 2px 2px, rgb(255 255 255) -2px -2px 2px;
        background: linear-gradient(
          145deg,
          rgb(255, 255, 255),
          rgb(203, 205, 208)
        );
        border-radius: 50%;
        padding: 1px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: rgb(226, 101, 101);
          background-color: red;
        }

        .icon {
          color: red;
          font-size: 20px;
        }
      }
    }

    .title {
      padding: 0 10px;
      h3 {
        font-weight: 600;
        // text-transform: uppercase;
      }
      p {
        color: rgb(102, 102, 102);
      }
    }

    .features {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        display: flex;
        align-items: center;
        font-size: 14px;

        .icon {
          font-size: 18px;
          // margin: 0 5px 0 0;
        }
      }
    }
  }
}
